/* @font-face {
  font-family: Prometo;
  src: url('./fonts/PrometoRg.ttf');
} */

#app, body {
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
  font-family: 'Noto Sans HK', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.Active{
    background-color: #ffb000;
    cursor: pointer;
    padding: 15px 50px;
    color: #f1f1f1;
}

.HeadBtn{
    font-size: 10px;
    padding: 15px 50px;
    text-transform: uppercase;
    color: #f1f1f1;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
    cursor: pointer;
    transition: all .1s;
    cursor: pointer;
}

.scroll {
  height: 550px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: inline-block;
}

.scroll--simple::-webkit-scrollbar {
  width: 10px;
  height: auto;
}
.scroll--simple::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(192, 192, 192, 0.2);
 
}
.scroll--simple::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.scroll--simple::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.scroll--simple::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

.page {
  width: 100%;
  margin: 111px auto;
  max-width: 700px;
}

#timer {
  font-size: 60px;
}
.timer-container {
  display: contents;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: white
}

.times-list {
  border-radius: 10px;
  box-shadow: rgba(255, 176, 0, 0.7) 0px 0px 0px 0px, rgb(255, 176, 0) 0px 0px 0px 2px, 0px 0px 0px 0px inset, rgba(255, 176, 0, 0.5) 0px 0px 20px, rgba(255, 176, 0, 0.5) 0px 0px 20px;
  border-color: rgb(255, 176, 1);
  height: 350px;
  width: 90%;
  transition: all .8s ease;
  overflow-y: auto;
  color:white;
  margin: 40px auto;
}
.times-list_title {
  text-align: center;
}
.times-list_list {
}
.times-list_time {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
}
.times-list_time_time {
  margin: 0 15px;
}

.times-list_time--1 {
  background-color: #ffb000;
  font-size: 22px;
  
}
.times-list_time--2 {
  background-color: rgba(230, 157, 0, 0.8 );
  font-size: 20px;
}
.times-list_time--3 {
  background-color: rgba(230, 157, 0, 0.5 );
  font-size: 18px;
}
.times-list_time--4 {
  font-size: 16px;
}
.card-block{
  display: flex;
  width: 245px;
  margin: auto;
  align-items: center;
  padding-left: 10px;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(255, 176, 0, 0.7) 0px 0px 0px 0px, rgb(255, 176, 0) 0px 0px 0px 2px, 0px 0px 0px 0px inset, rgba(255, 176, 0, 0.5) 0px 0px 20px, rgba(255, 176, 0, 0.5) 0px 0px 20px;
  border-color: rgb(255, 176, 1);
  justify-content: center
}


button {
  border: none;
  outline: none;
  background: rgba(25, 255, 155, 0.5);
  color: white;
  width: 300px;
  height: 50px;
  font-size: 18px;
  font-weight: 500px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all .4s ease;
}
button:hover {
  background: rgba(25, 255, 155, 0.8);
}
.btn--finish {
  background: #3498db;
}
.btn--reset {
  background: rgba(255, 118, 13, 0.5);
}
.btn--reset:hoveR {
  background: rgba(255, 118, 13, 0.8);
}
button:hover {
  cursor: pointer;
}
button:active {
  background: #2980b9;
}
.hint {
  margin-top: 40px;
  font-size: 12px;
  color: #888;
}